{% extends 'base_front.html.twig' %}
{% block title %} {{ parent() }}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block javascript %}{{ parent() }}{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}

<section class="drawer">
    <section id="login" class="container secondary-page">  
        <div class="general general-results players">
            <!-- LOGIN BOX -->
            <!-- REGISTER BOX -->
            <div class="top-score-title right-score col-md-12">
                <h3>Modifier Mon Profil<span>Maintenant </span><span class="point-int"> !</span></h3>
                <div class="col-md-12 login-page">
                    <form method="post" class="register-form">    

                        {{ form_start(form)}}
                        
                                {% for flash_message in app.session.flashbag.get('notice') %}
                                    <div class="callout callout-success">
                                        <h4>  {{ flash_message }}</h4>
                                    </div>
                                {% endfor %} 
                        
                        
                        <div class="email">
                            <label for="email">* Email:</label><div class="clear"></div>
                            {{ form_widget(form.email) }}   
                        </div>
                        <div class="email">
                            <label for="email">* Login:</label><div class="clear"></div>
                            {{ form_widget(form.username) }}  
                        </div>
                        <div class="name">
                            <label for="name">* Prenom:</label><div class="clear"></div>
                            {{ form_widget(form.prenom) }}  
                        </div>
                        <div class="name">
                            <label for="lastname">* Nom:</label><div class="clear"></div>
                            {{ form_widget(form.nom) }}   
                        </div>
                        <div class="name">
                            <label for="password">* Password:</label><div class="clear"></div>
                            {{ form_widget(form.plainPassword.first) }}  
                        </div>
                        <div class="confirm_password">
                            <label for="confirm_password">* Confirm Password:</label><div class="clear"></div>
                            {{ form_widget(form.plainPassword.second) }}   
                        </div>

                        <div class="name">
                            <label for="name">* Cin:</label><div class="clear"></div>
                            {{ form_widget(form.cin) }}   
                        </div>

                        <div class="name">
                            <label for="name">* Adresse:</label><div class="clear"></div>
                            {{ form_widget(form.adresse) }}   
                        </div>

                        <div class="name">
                            <label for="name">* Tel:</label><div class="clear"></div>
                            {{ form_widget(form.telephone) }}   
                        </div> 

                        </br>


                        <div id="register-submit">
                            <input type="submit" value="Submit">
                        </div>
                        {{ form_end(form) }}                    
                    </form>
                    <div class="ctn-img">
                        <img src="{{ asset('bundles/espritappfront/images/federer.png') }}" class="img-circle" alt="User Image" />
                    </div><!--Close Images-->
                    <div class="clear"></div>
                </div>

            </div><!--Close REgistration-->
        </div> 
    </section>
    <section id="sponsor" class="container">
        <!--SECTION SPONSOR-->
        <div class="client-sport client-sport-nomargin">
            <div class="content-banner">
                <ul class="sponsor second">
                    <li><img src="http://placehold.it/273x133" alt=""></li>
                    <li><img src="http://placehold.it/273x133" alt=""></li>
                    <li><img src="http://placehold.it/273x133" alt=""></li>
                    <li><img src="http://placehold.it/273x133" alt=""></li>
                    <li><img src="http://placehold.it/273x133" alt=""></li>
                    <li><img src="http://placehold.it/273x133" alt=""></li>
                </ul>
            </div>
        </div>
    </section>
</section>


{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

