{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}






    <div class="top-score-title right-score col-md-12">
        <h3>DERNIERS <span>EVENNEMENTS</span><span class="point-little">.</span></h3>

        {% for events in pagination  %}

            <div class="col-md-12 news-page">
                <img class="img-djoko" src="http://placehold.it/270x180" alt="" />

                <div    {% if loop.index is odd %}class="col-md-10 data-news-pg"{% endif %}>
                    <p class="news-dd">Du {{events.dateDebut|date('d.m.Y')}}  &nbsp;&nbsp; Jusqu 'a {{events.dateFin|date('d.m.Y')}} </p>
                    <h3> {{events.nom|upper}}</h3>
                    <p>{{events.lieux}}</p>
                    <!--  <p class="news-dd">FEBRUARY 1, 2015 12:00 PM</p>
                      <h3>Match of the Day presented by Emirates Airline</h3>
                      <p>It normally takes a great of deal time and effort to defeat No. 26 Gilles Simon, largely due to his counterpunching style of play and impressive foot speed. 
                          No. 14 seed Marin Cilic 
                          needed that and more on Tuesday in Louis Armstrong Stadium, going a marathon five sets to prevail in their fourth-round match, 5-7, 7-6, 6-4, 3-6, 6-3.</p>  -->
                    <div class="col-md-12 news-more"><a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a></div>
                </div>
            </div>

        {% endfor %}

        <!--<div class="col-md-12 news-page-page">
            <span class="news-page-active">1</span><span>2</span><span>3</span><span class="page-point">....</span><span>10</span>
        </div> -->
       <div class="col-md-12 news-page-page">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div><!--Close Top Match-->



{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
