{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/animate.css') }}"/>  
    <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/jquery.bxslider.css') }}"/>  
    <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/jquery.jscrollpane.css') }}"/>  

    <style type="text/css">
        .accordion.accordion-open {
            background: #f59123;
            color: #fff;
            font-weight: 700;
            letter-spacing: 1px;
        }
        .accordion {
            margin: 0;
            padding: 20px;
            border-bottom: 1px solid #f9f9f9;
            background: #222;
            font-family: Open sans, Helvetica, sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            color: #929292;
            font-size: 13px;
            overflow: hidden;
            letter-spacing: 1px;
        }
        div.acc-content {
            background: #f0f0f0;
            margin: 0;
            padding: 15px 10px;
            font-size: .9em;
            line-height: 1.5em;
            font-family: "Open sans", sans-serif;
        }
        div.acc-content {
            padding: 0;
            margin: 0;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: left;
        }

    </style>

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div id="c-calend" class="top-score-title right-score col-md-9">
        <h3>2016 <span> COMPETITION CALENDAR</span><span class="point-little">.</span></h3>
        <p class="txt-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="txt-right txt-dd-second">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
        <div class="accordion" id="section1"><i class="fa fa-calendar-o"></i>JANUARY<span></span></div>
        <div class="acc-content">
            </br>        
            <div class="col-md-1 acc-title">Cat.</div>
            <div class="col-md-2 acc-title">Debut</div>
            <div class="col-md-3 acc-title">Fin</div>
            <div class="col-md-2 acc-title">Nom</div>
            <div class="col-md-2 acc-title">Lieux</div> 
            <div class="col-md-2 acc-title">Type</div>
            {% for  competition in competitions%}
                <div class="col-md-1 timg">
                    <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
                </div>
                <div class="col-md-2 t1"><p>{{competition.dateDebut|date('d.m.Y')}}</p></div>
                <div class="col-md-3 t2"><p>{{competition.dateFin|date('d.m.Y')}}</p> </div>
                <div class="col-md-2 t3"><p>{{competition.nom}}</p></div>
                <div class="col-md-2 t4"><p>{{competition.lieux}}</p></div>
                <div class="col-md-2 t5"><p>{{competition.type}}</p></div>
                <div class="acc-footer"></div>
            {% endfor %}      
        </div>
        <div class="accordion" id="section2"><i class="fa fa-calendar-o"></i>FEBRUARY<span></span></div>
        <div class="acc-content">
            <div class="col-md-1 acc-title">Cat.</div>
            <div class="col-md-2 acc-title">Date</div>
            <div class="col-md-3 acc-title">Tournament</div>
            <div class="col-md-2 acc-title">$ Money</div>
            <div class="col-md-2 acc-title">Draw</div>
            <div class="col-md-2 acc-title">Winners</div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>29.12.2013</p></div>
            <div class="col-md-3 t2"><p>Brisbane International presented by Suncorp</p> </div>
            <div class="col-md-2 t3"><p>$ 552,670</p></div>
            <div class="col-md-2 t4"><p>SGL 28 <br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>30.12.2013</p></div>
            <div class="col-md-3 t2"><p>Qatar ExxonMobil Open</p> </div>
            <div class="col-md-2 t3"><p>$ 1,096,910</p></div>
            <div class="col-md-2 t4"><p>SGL 32<br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>
        </div>
        <div class="accordion" id="section3"><i class="fa fa-calendar-o"></i>MARCH<span></span></div>
        <div class="acc-content">
            <div class="col-md-1 acc-title">Cat.</div>
            <div class="col-md-2 acc-title">Date</div>
            <div class="col-md-3 acc-title">Tournament</div>
            <div class="col-md-2 acc-title">$ Money</div>
            <div class="col-md-2 acc-title">Draw</div>
            <div class="col-md-2 acc-title">Winners</div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>30.12.2013</p></div>
            <div class="col-md-3 t2"><p>Qatar ExxonMobil Open</p> </div>
            <div class="col-md-2 t3"><p>$ 1,096,910</p></div>
            <div class="col-md-2 t4"><p>SGL 32<br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>30.12.2013</p></div>
            <div class="col-md-3 t2"><p>Qatar ExxonMobil Open</p> </div>
            <div class="col-md-2 t3"><p>$ 1,096,910</p></div>
            <div class="col-md-2 t4"><p>SGL 32<br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>30.12.2013</p></div>
            <div class="col-md-3 t2"><p>Qatar ExxonMobil Open</p> </div>
            <div class="col-md-2 t3"><p>$ 1,096,910</p></div>
            <div class="col-md-2 t4"><p>SGL 32<br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>
        </div>
        <div class="accordion" id="section4"><i class="fa fa-calendar-o"></i>APRIL<span></span></div>
        <div class="acc-content">
            <div class="col-md-1 acc-title">Cat.</div>
            <div class="col-md-2 acc-title">Date</div>
            <div class="col-md-3 acc-title">Tournament</div>
            <div class="col-md-2 acc-title">$ Money</div>
            <div class="col-md-2 acc-title">Draw</div>
            <div class="col-md-2 acc-title">Winners</div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>29.12.2013</p></div>
            <div class="col-md-3 t2"><p>Brisbane International presented by Suncorp</p> </div>
            <div class="col-md-2 t3"><p>$ 552,670</p></div>
            <div class="col-md-2 t4"><p>SGL 28 <br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>

            <div class="col-md-1 timg">
                <img src="{{ asset('bundles/espritappfront/images/atp_img.png') }}" alt="" />
            </div>
            <div class="col-md-2 t1"><p>30.12.2013</p></div>
            <div class="col-md-3 t2"><p>Qatar ExxonMobil Open</p> </div>
            <div class="col-md-2 t3"><p>$ 1,096,910</p></div>
            <div class="col-md-2 t4"><p>SGL 32<br />DBL 16</p></div>
            <div class="col-md-2 t5"><p>Jhon Doe</p></div>
            <div class="acc-footer"></div>
        </div>
        <div class="accordion" id="section5"><i class="fa fa-calendar-o"></i>MAY<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>
        <div class="accordion" id="section6"><i class="fa fa-calendar-o"></i>JUNE<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>
        <div class="accordion" id="section7"><i class="fa fa-calendar-o"></i>JULY<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>
        <div class="accordion" id="section8"><i class="fa fa-calendar-o"></i>AUGUST<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>
        <div class="accordion" id="section9"><i class="fa fa-calendar-o"></i>SEPTEMBER<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>
        <div class="accordion" id="section10"><i class="fa fa-calendar-o"></i>OCTOBER<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>
        <div class="accordion" id="section11"><i class="fa fa-calendar-o"></i>NOVEMBER<span></span></div>
        <div class="acc-content">
            <div>Sample Content</div>
            <p>Content here....</p>
        </div>

    </div><!--Close Top Match-->
    <div class="col-md-3 right-column">
        <div class="top-score-title col-md-12 right-title">
            <h3>Latest News</h3>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
        </div>
        <div class="top-score-title col-md-12">
            <img src="http://placehold.it/1000x475" alt="" />
        </div>
        <div class="top-score-title col-md-12 right-title">
            <h3>Photos</h3> 
            <ul class="right-last-photo">
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
