
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <title>{% block title %}Dashboard{% endblock %} </title>

        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %}
            <!-- Bootstrap 3.3.5 -->  
            <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/bootstrap/css/bootstrap.min.css') }}"/>    
            <!-- Bootstrap RTL 3.3.5 -->  

            {#   <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/bootstrap/css/Bootstrap v3.3.6.min.css') }}"/>  #} <!--  mehrez modif  -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/bootstrap/css/Bootstrap v3.3.6 bootstrap-theme.min.css') }}"/>  <!--  mehrez modif  --> 
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/fontawesome/css/font-awesome.min.css') }}"/>  
            <!-- Ionicons -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/font-awesome-ionicons/ionicons.min.css') }}"/> 
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/dist/css/AdminLTE.css') }}"/>
            <!-- Theme style RTL-->

            <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/dist/css/skins/skin-yellow-light.min.css') }}"/> 
            <!-- checkbox and radio -->
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappback/css/plugins/ICheck/all.css') }}"/>       
            <!-- add * to required fields -->
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappback/css/bootstrap/css/RequiredFields.css') }}"/>       
            {# <!-- languages flag -->
             <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappback/css/bootstrap/css/languages.min.css') }}"/> #}
            <!-- languages flag -->
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappback/css/flags/css/flag-icon.min.css') }}"/>    
            <!--  Bootstrap style nouveaux fichiers asset:install -->



        {% endblock %}

    </head>
    <body class="sidebar-mini skin-yellow-light fixed">
        <div class="wrapper">

            <header class="main-header">
                {% block logo %}
                    <!-- Logo -->
                    <a href="{{path('esprit_app_front_homepage')}}" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini">
                        </span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg">
                        </span>
                        Retour au Site

                    </a>
                {% endblock %}
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            {% block messages %}

                            {% endblock %}
                            <!-- Notifications: style can be found in dropdown.less -->
                            {% block notifications %}

                            {% endblock %}
                            {% block tasks %}

                            {% endblock %}

                            <!-- User Account: style can be found in dropdown.less -->
                            {% block users %}
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                        {% if app.user is not null %}
                                            {% if app.user.image is not null %}
                                                <img src="{{app.user.image|raw}}" class="user-image" alt="User Image">
                                            {% else %}
                                                <img src="{{ asset('bundles/espritappback/images/user_profil.png') }}" class="user-image" alt="User Image">
                                            {% endif %}
                                        {% else %}
                                            <img src="{{ asset('bundles/espritappback/images/user_profil.png') }}" class="user-image" alt="User Image">
                                        {% endif %}

                                        <span class="hidden-xs">{% if app.user%}{{app.user.nom}}{% endif %}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{{ asset('bundles/espritappback/images/user_profil.png') }}" class="img-circle" alt="User Image" />
                                            <p>
                                                {% if app.user%}  {{app.user.nom}}  {% endif %}
                                                {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}                           
                                                    <small>Administrateur</small>
                                                {% else %}
                                                    <small>Administrateur</small>
                                                {% endif %}

                                            </p>
                                        </li>

                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                                            </div> 
                                            <div class="pull-right">
                                                <a href="{#{path('fos_user_security_logout')}#}" class="btn btn-default btn-flat">Sign out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            {% endblock %}
                        </ul>
                    </div>

                </nav>
            </header>

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        {% block sidebar %}


                            <li class="treeview {% if app.request.get('_route') == 'archivagejoueur' or app.request.get('_route') == 'archivagearbitre' or app.request.get('_route') == 'archivagematches'  %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Archivages</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('archivagejoueur')}}"><i class="fa fa-circle-o"></i>Des Joueurs</a></li>
                                    <li class="active"><a href="{{path('archivagearbitre')}}"><i class="fa fa-circle-o"></i>Des Arbitres</a></li>      
                                    <li class="active"><a href="{{path('archivagematches')}}"><i class="fa fa-circle-o"></i>Des Matches</a></li>  
                                </ul>
                            </li>     
                            
                            
                            
                            <li class="treeview {% if app.request.get('_route') == 'arbitre_add' or app.request.get('_route') == 'arbitre_show' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Arbitres</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('arbitre_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('arbitre_show')}}"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Arbitres</a></li>                                       
                                </ul>
                            </li>      

                            <li class="treeview {% if app.request.get('_route') == 'medecin_add' or app.request.get('_route') == 'medecin_show'  or app.request.get('_route') == 'medecin_update'  %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Medecins</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('medecin_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('medecin_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Medecins</a></li>                                        
                                </ul>
                            </li>

                            <li class="treeview {% if app.request.get('_route') == 'responsable_add' or app.request.get('_route') == 'responsable_show'   or app.request.get('_route') == 'responsable_update'  %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Responsables</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('responsable_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('responsable_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Responsables</a></li>                                        
                                </ul>
                            </li>

                            <li class="treeview {% if app.request.get('_route') == 'client_add' or app.request.get('_route') == 'client_show' or app.request.get('_route') == 'client_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Clients</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('client_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('client_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Clients</a></li>                                        
                                </ul>
                            </li>

                            <li class="treeview {% if app.request.get('_route') == 'joueur_add' or app.request.get('_route') == 'joueur_show'  or app.request.get('_route') == 'joueur_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Joueurs</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('joueur_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('joueur_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Joueurs</a></li>                                        
                                </ul>
                            </li>

                            <li class="treeview {% if app.request.get('_route') == 'club_add' or app.request.get('_route') == 'club_show'   or app.request.get('_route') == 'club_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Clubs</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('club_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('club_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Clubs</a></li>                                        
                                </ul>
                            </li>


                            <li class="treeview {% if app.request.get('_route') == 'materiel_add' or app.request.get('_route') == 'materiel_show'  or app.request.get('_route') == 'materiel_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Materiels</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('materiel_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('materiel_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Materiels</a></li>                                        
                                </ul>
                            </li>



                            <li class="treeview {% if app.request.get('_route') == 'competition_add'   or app.request.get('_route') == 'competition_show'   or app.request.get('_route') == 'competition_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Competitions</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('competition_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('competition_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Competitions</a></li>                             
                                </ul>
                            </li>


                            <li class="treeview {% if app.request.get('_route') == 'event_add'   or app.request.get('_route') == 'event_show' or app.request.get('_route') == 'event_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Evennements</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('event_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('event_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Evennements</a></li>                             
                                </ul>
                            </li> 


                            <li class="treeview {% if app.request.get('_route') == 'formation_add'   or app.request.get('_route') == 'formation_show' or app.request.get('_route') == 'formation_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Formations</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('formation_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('formation_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Formations</a></li>                             
                                </ul>
                            </li>


                            <li class="treeview {% if app.request.get('_route') == 'stade_add'   or app.request.get('_route') == 'stade_show' or app.request.get('_route') == 'stade_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Stades</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('stade_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('stade_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Stades</a></li>                             
                                </ul>
                            </li>


                            <li class="treeview {% if app.request.get('_route') == 'matche_add'   or app.request.get('_route') == 'matche_show' or app.request.get('_route') == 'matche_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Matches</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('matche_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('matche_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Matches</a></li>                             
                                </ul>
                            </li>


                            
                                  <li class="treeview {% if app.request.get('_route') == 'ticket_add'   or app.request.get('_route') == 'ticket_show' or app.request.get('_route') == 'ticket_update' %} active{% endif %}">
                                <a href="#">
                                    <i class="fa fa-users"></i> <span>Gestion des Tickets</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="{{path('ticket_add')}}"><i class="fa fa-circle-o"></i>Ajouter un nouveau</a></li>
                                    <li class="active"><a href="{{path('ticket_show')}}"<i class="fa fa-circle-o"></i>&nbsp;&nbsp;Listes des Tickets</a></li>                             
                                </ul>
                            </li>
                            
                            
                        {% endblock %}
                    </ul>

                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block header_content %}
                    {% endblock %}
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- Info boxes -->
                    <div class="row">
                        {% block content %}

                        {% endblock %}
                    </div>




                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->

            <footer class="main-footer">
                {% block footer %}
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 1.0
                    </div>
                    <strong>Copyright &copy; 2015-2016 <a href="http://www.esprit.ens.tn/test/v3/index.php?option=com_content&view=article&id=574:incubator&catid=14:sample-data-articles&Itemid=272&lang=fr">Esprit</a>.</strong> All rights reserved.
                {% endblock %}
            </footer>

            {% block javascript %}


                <!-- jQuery 2.1.4 -->
                <script src="{{ asset('bundles/espritappback/js/plugins/jQuery/jQuery-2.1.4.min.js') }}" type="text/javascript"></script>   
                <!--   return    On   Top     -->
                {#    <script src="{{ asset('bundles/espritappback/js/returnOnTop.js') }}" type="text/javascript"></script>  #}
                <!-- Bootstrap 3.3.5 -->
                <script src="{{ asset('bundles/espritappback/js/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
                <!-- FastClick -->
                <script src="{{ asset('bundles/espritappback/js/plugins/fastclick/fastclick.min.js') }}" type="text/javascript"></script>       
                <!-- AdminLTE App -->
                <script src="{{ asset('bundles/espritappback/js/dist/js/app.min.js') }}" type="text/javascript"></script>
                <!-- SlimScroll 1.3.0 -->
                <script src="{{ asset('bundles/espritappback/js/plugins/slimScroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>       
                <!-- checkbox and radio -->
                <script src="{{ asset('bundles/espritappback/js/plugins/ICheck/icheck.min.js') }}" type="text/javascript"></script>       


                <!-- polyfiller file to detect and load polyfills ++-->              
                <script src="{{ asset('bundles/espritappback/js/datepicker/polyfiller.js') }}" type="text/javascript"></script>                       

                <script>
                    webshims.setOptions('waitReady', false);
                    webshims.setOptions('forms-ext', {types: 'date'});
                    webshims.polyfill('forms forms-ext');
                </script>


                <script>
                    //Flat red color scheme for iCheck
                    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                        checkboxClass: 'icheckbox_flat-green',
                        radioClass: 'iradio_flat-green'
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('body').append('<div id="returnOnTop" title="Retour en haut">&nbsp;</div>');
                        $('#returnOnTop').click(function () {
                            $('html,body').animate({scrollTop: 0}, 'slow');
                        });
                    });
                    $(window).scroll(function () {
                        if ($(window).scrollTop() === 0)
                            $('#returnOnTop').fadeOut();
                        else
                            $('#returnOnTop').fadeIn();
                    });
                </script>



            {% endblock %}
    </body>
</html>


