

{% extends 'base_front.html.twig' %}


{% block title %} {{ parent() }}{% endblock %}
{% block stylesheets %}  {{ parent() }}{% endblock %}
{% block javascript %}{{ parent() }}{% endblock %}
{% block logo %}  {{ parent() }}{% endblock %}
{% block sidebar %}    {{ parent() }}{% endblock %}
{% block header_content %}  {{ parent() }}{% endblock %}


{% block content %}



    <!-- Stade -->
    {% for  matche  in matchs %}
        <div class="top-score-title right-score col-md-6">
            <h3>Dernier Match<span class="point-int"></span></h3>
            <div class="col-md-12 login-page login-w-page">
                <p class="logiin-w-title">
                    The Tennis Club Tour is proud to present the Fan Credential, ATP’s free membership program for fans of Men’s Professional Tennis.</p>
                <p>With 61 exciting venues in 30 countries, we understand how busy life can get, so tell us your preferences and we’ll create an 
                    experience specifically designed for you. 
                </p>        
                <h3><img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />  
                    Debut : {{matche.dateDebut|date('d.m.Y')}}</h3>
                <p>Get off-court and go behind the scenes of the tour each week.</p>
                <h3> <img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />
                    Fin : {{matche.dateFin|date('d.m.Y')}}</h3>
                <p>Official report and schedule including results</p>
                <h3> <img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />
                    Lieu : {{matche.lieux}}</h3>
                <p>Official report and schedule including results</p>
                <h3> <img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />
                    Type : {{matche.type}}</h3>
                <p>Official report and schedule including results</p>
            </div>
        </div>
    {% endfor %}
    <!-- Stade -->


    <!-- Stade -->
    {% for  formation in formation %}
        <div class="top-score-title right-score col-md-6">
            <h3>Derniere Formation ajouté<span class="point-int"></span></h3>
            <div class="col-md-12 login-page login-w-page">
                <p class="logiin-w-title">The Tennis Club Tour is proud to present the Fan Credential, ATP’s free membership program for fans of Men’s Professional Tennis.</p>
                <p>With 61 exciting venues in 30 countries, we understand how busy life can get, so tell us your preferences and we’ll create an 
                    experience specifically designed for you. 
                </p>
                <h3><img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />  
                    Debut : {{formation.dateOuverture|date('d.m.Y')}}</h3>
                <p>Get off-court and go behind the scenes of the tour each week.</p>
                <h3> <img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />
                    Fin : {{formation.dateClouture|date('d.m.Y')}}</h3>
                <p>Official report and schedule including results</p>
                <h3> <img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />
                    Lieu : {{formation.lieux}}</h3>
                <p>Official report and schedule including results</p>
                <h3> <img class="ball-tennis" src="{{ asset('bundles/espritappfront/images/ball.png') }}" alt="" />
                    Type : {{formation.type}}</h3>
                <p>Official report and schedule including results</p>
            </div>
        </div>
    {% endfor %}


    <!-- Stade -->
    {% for  competition in competition%}
        <div class="top-score-title right-score col-md-6">
            <h3>Derniere competition<span>  </span><span class="point-int">  </span></h3>
            <div class="col-md-12 login-page">

                Debut : {{competition.dateDebut|date('d.m.Y')}}</h3>
                <p>Get off-court and go behind the scenes of the tour each week.</p>

                Fin : {{competition.dateFin|date('d.m.Y')}}</h3>
                <p>Official report and schedule including results</p>

                Lieu : {{competition.lieux}}</h3>
                <p>Official report and schedule including results</p>

                Type : {{competition.type}}</h3>
            </div>

        </div>
    {% endfor %}<!--Close Login-->




    {% for  event in event%}
        <div class="top-score-title right-score col-md-6">
            <h3>Dernier Evennement<span>  </span><span class="point-int"> !</span></h3>
            <div class="col-md-12 login-page">
                Debut : {{event.dateDebut|date('d.m.Y')}}</h3>
                <p>Get off-court and go behind the scenes of the tour each week.</p>

                Fin : {{event.dateFin|date('d.m.Y')}}</h3>
                <p>Official report and schedule including results</p>

                Lieu : {{event.lieux}}</h3>
                <p>Official report and schedule including results</p>

                Type : {{event.nom}}</h3>
            </div>

        </div><!--Close Login-->
    {% endfor %}

    <div class="top-score-title right-score col-md-6">
        <div>
            <iframe width="555" height="360" src="https://www.youtube.com/embed/t-N-1XZ54Z0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="top-score-title right-score col-md-6">
        <div>
            <a href="http://www.tunisianet.com.tn/marques">
                <div id="blockmanufacturers"></div></a>
            <div id="header_face"></div>
            <div id="main_face">
                <div class="fb-like-box fb_iframe_widget" data-href="http://www.facebook.com/Tunisianet.com.tn" data-width="550" data-height="350" data-show-faces="true" data-border-color="white" data-stream="false" data-header="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=180&amp;header=false&amp;height=350&amp;href=http%3A%2F%2Fwww.facebook.com%2FTunisianet.com.tn&amp;locale=fr_FR&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=170">
                    <span style="vertical-align: bottom; width: 180px; height: 228px;">
                        <iframe name="f2c89b57c524df4" width="550px" height="350px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="https://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df21e1ac40249844%26domain%3Dwww.tunisianet.com.tn%26origin%3Dhttp%253A%252F%252Fwww.tunisianet.com.tn%252Ff38294fd3fbf578%26relation%3Dparent.parent&amp;container_width=180&amp;header=false&amp;height=350&amp;href=http%3A%2F%2Fwww.facebook.com%2FTunisianet.com.tn&amp;locale=fr_FR&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=170" style="border: none; visibility: visible; width: 180px; height: 228px;" class="">

                        </iframe>
                    </span></div>
            </div><div id="footer_face"></div>
            <div class="block" id="search_block_left">
                <div id="header_search"></div>
                <div class="block_content" style="padding-bottom:30px;">
                </div><div id="footer_search"></div></div>
            <script type="text/javascript">/* <![CDATA[ */
            </script>
        </div>

            <div style='position: absolute;    width: 290px;    top: -30px;    right: 10px;'>
            <h3>Info</h3>
                <p><i class="fa fa-phone"></i>Tél : (+216) 71 844144   </p>
                 <p><i class="fa fa-phone"></i>Fax : (+216) 71 798844  </p>
                <p><i class="fa fa-envelope-o"></i> ftt@ati.tn </p>
                <p><i class="fa fa-globe"></i>Direction Ariana et descendre à la station 10 Décembre 1948.</p>
                <p><i class="fa fa-map-marker"></i>Tunisie,Tunis</p>
            </div>            
       

        <div class="right">

            </br>  </br>  </br>  </br>
            <div class="social-network"> 

                <a href="http://www.facebook.com/tanitjobs.tunisie" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_facebook_box.png" alt="Tanitjobs.com sur Facebook">Facebook</a>

                <a href="https://twitter.com/tanitjobscom" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_twitter_box.png" alt="Tanitjobs.com sur Twitter">Twitter</a>
                <a href="http://www.linkedin.com/groups?gid=7413774&amp;trk=my_groups-b-grp-v" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_linkedin_box.png" alt="Tanitjobs.com sur Linked in">Linkedin</a> 
                <a href="http://www.viadeo.com/groups/?containerId=002zr4cj4s018xp" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_viadeo_box.png" alt="Tanitjobs.com sur Viadeo">Viadeo</a>

                <a href="https://plus.google.com/s/Tanit%20Jobs" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_google_box.png" alt="Tanitjobs.com sur google plus">G+</a>
                <a href="http://www.youtube.com/channel/UCcHGB5_YrAnH3uvjowk-yvw?feature=watch" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/youtube_box.png" alt="Tanitjobs.com sur Youtube">Youtube</a>


                <a href="http://tanitjobs.com/listing-feeds/?feedId=10" id="mainRss" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_rss_box.png" alt="offres d'emploi en Tunisie">RSS</a> 

            </div>

        </div>
    </div>

{% endblock %}



{% block footer %}
    {{ parent() }}
{% endblock %}


