{% extends 'base_front.html.twig' %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}
{% block logo %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}
    
    aa
    
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
