{% extends 'base_front.html.twig' %}
{% block title %} {{ parent() }}{% endblock %}
{% block stylesheets %}  {{ parent() }}{% endblock %}
{% block javascript %}{{ parent() }}{% endblock %}
{% block logo %}  {{ parent() }}{% endblock %}
{% block sidebar %}    {{ parent() }}{% endblock %}
{% block header_content %}  {{ parent() }}{% endblock %}
  

{% block content %}
    
 
      
 
    
{% endblock %}
{% block footer %} {{ parent() }}{% endblock %}
   

