{% extends 'base_back.html.twig' %}
{% block title %}
    {{ parent() }}|Gestion Stade|Ajout Stade
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/espritappgestion/js/plugins/datatables/dataTables.bootstrap.css') }}">  
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappgestion/css/plugins/datatables/responsive.dataTables.min.css') }}"/>       
{% endblock %}
{% block logo %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
{% block header_content %}
    {{ parent() }}
    <h1>
        <small> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Gestion Stade</a></li>
        <li class="active">Stade</li>

    </ol>
{% endblock %}

{% block content %}    

    <!-- Main content -->
    <div class="col-md-12"  style="background-color:#ecf0f5;">
        <br>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter Stade</h3>                
            </div><!-- /.box-header -->            



            <form  action='{{path('stade_add')}}' method="post" {{ form_enctype(form) }} >  
                <div class="box-body">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="callout callout-success">
                            <h4>  {{ flash_message }}</h4>
                        </div>
                    {% endfor %}      


                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.nom) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.nom) }}
                        </div>
                        {{ form_widget(form.nom, { 'attr': {'class':'form-control input-sm'} }) }}     

                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.adresse) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.adresse) }}
                        </div>
                        {{ form_widget(form.adresse, { 'attr': {'class':'form-control input-sm'} }) }}     

                    </div>
                 
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.type) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.type) }}
                        </div>
                        {{ form_widget(form.type, { 'attr': {'class':'form-control input-sm'} }) }}     
                    </div>  
                    
                   
                    


                </div>
                <div class="box-footer">
                    <input type="reset" class="btn btn-primary"/>
                    <button type="submit" id="loading-btnModal" class="btn btn-primary pull-right">Enregistrer</button>
                </div>{{form_widget(form._token)}} 
            </form>  




        </div>

    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}
