{% extends 'base_back.html.twig' %}
{% block title %}
    {{ parent() }}|Gestion Utilisateur|Ajout Utilisateur
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/espritappback/js/plugins/datatables/dataTables.bootstrap.css') }}">  
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappback/css/plugins/datatables/responsive.dataTables.min.css') }}"/>       
{% endblock %}
{% block logo %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
{% block header_content %}

    {{ parent() }}
    <h1>
        <small> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Gestion Utilisateur</a></li>
        <li class="active">Arbitres</li>
    </ol>
{% endblock %}


{% block content %}    


    <div class="col-md-12"  style="background-color:#ecf0f5;">
        </br>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table Liste des Arbitres</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Adresse</th>
                                <th>E-Mail</th>
                                <th>Telephone</th>
                                <th>Grade</th>
                                <th>Formation</th>
                                <td>Action</td>
                                <td>Action</td>  <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for arbitre in arbitre%}
                                <tr>
                                    <td>{{arbitre.nom}}</td>
                                    <td>{{arbitre.prenom}}</td>
                                    <td>{{arbitre.adresse}}</td>
                                    <td>{{arbitre.email}}</td>
                                    <td>{{arbitre.telephone}}</td>
                                    <td>{{arbitre.grade}}</td>

                                    <td>   {% if arbitre.idFormation is not  null and arbitre.idFormation !=""  %}                                 
                                        {{arbitre.idFormation.nom}} 
                                    {% else %}   Non defini {% endif %}</td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('arbitre_update',{'id':arbitre.id}) }}"/>Modifier</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('arbitre_delete',{'id':arbitre.id}) }}"/>Supprimer</a>
                                        </td> 
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
                                <script src="{{ asset('bundles/espritappback/css/piroboxbeta_1_1/js/pirobox_extended_feb_2011.js') }}" type="text/javascript"></script>   
                                <link rel="stylesheet" href="{{ asset('bundles/espritappback/css/piroboxbeta_1_1/css_pirobox/style_5/style.css') }}">  
                                <script type="text/javascript">
                                    $(document).ready(function ($) {
                                        $.piroBox_ext({
                                            piro_speed: 700,
                                            bg_alpha: 0.5,
                                            piro_scroll: true,
                                            piro_drag: false,
                                            piro_nav_pos: 'bottom'
                                        });
                                    });
                                </script>


                                <td>
                                    <a  href="{{ asset('upload/' ~ arbitre.id ~'/' ~ arbitre.image)}}" rel="gallery"  class='pirobox_gall'  >
                                        <img   src="{{ asset('bundles/espritappback/css/piroboxbeta_1_1/js/logo-photographe.png') }}" alt="" height="30px;" width="70px;" />                                
                                    </a>
                                </td>
                                </tr>
                                {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prenom</th>

                                            <th>Adresse</th>
                                            <th>E-Mail</th>
                                            <th>Telephone</th>
                                            <th>Grade</th>
                                            <th>Formation</th> 
                                            <td>Action</td>
                                            <td>Action</td>  <td>Action</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->



                </div>

                <!-- page script -->
                <script src="{{ asset('bundles/espritappback/js/plugins/jQuery/jQuery-2.1.4.min.js') }}" type="text/javascript"></script>   
                <script type="text/javascript">
                                            $(function () {
                                                $("#example1").DataTable();
                                                $('#example2').DataTable({
                                                    "paging": true,
                                                    "lengthChange": false,
                                                    "searching": false,
                                                    "ordering": true,
                                                    "info": true,
                                                    "autoWidth": false
                                                });
                                            });
                </script>

                {% endblock %}




                    {% block footer %}
                        {{ parent() }}
                    {% endblock %}


                    {% block javascript %}
                        {{ parent() }}
                        <script src="{{ asset('bundles/espritappback/js/plugins/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>       
                        <script src="{{ asset('bundles/espritappback/js/plugins/datatables/dataTables.bootstrap.min.js') }}" type="text/javascript"></script>       
                        <script src="{{ asset('bundles/espritappback/js/plugins/datatables/dataTables.responsive.min.js') }}" type="text/javascript"></script>  
                    {% endblock %}
