{% extends 'base_back.html.twig' %}
{% block title %}
    {{ parent() }}|Gestion Competitions|Ajout Competition 
{% endblock %}
{% block stylesheets %}
    {{ parent() }}  
    
{% endblock %}
{% block logo %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
{% block header_content %}
    {{ parent() }}
    
    <h1>
        <small> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Gestion Competitions</a></li>
        <li class="active">Competitions</li>
    </ol>
    
{% endblock %}

{% block content %}    

    <!-- Main content -->
    <div class="col-md-12"  style="background-color:#ecf0f5;">
        <br>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter Competition </h3>                
            </div><!-- /.box-header -->            


            <form  action='{{path('competition_add')}}' method="post" {{ form_enctype(form) }} >  
                <div class="box-body">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="callout callout-success">
                            <h4>  {{ flash_message }}</h4>
                        </div>
                    {% endfor %}      
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.nom) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.nom) }}
                        </div>
                        {{ form_widget(form.nom, { 'attr': {'class':'form-control input-sm'} }) }}     

                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.dateDebut) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.dateDebut) }}
                        </div>
                        {{ form_widget(form.dateDebut, { 'attr': {'class':'form-control input-sm'} }) }}     

                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.dateFin) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.dateFin) }}
                        </div>
                        {{ form_widget(form.dateFin, { 'attr': {'class':'form-control input-sm'} }) }}     

                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.lieux) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.lieux) }}
                        </div>
                        {{ form_widget(form.lieux, { 'attr': {'class':'form-control input-sm'} }) }}     
                    </div>                            
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1"> {{ form_label(form.type) }}</label>
                        <div class="text-red">
                            {{ form_errors(form.type) }}
                        </div>
                        {{ form_widget(form.type, { 'attr': {'class':'form-control input-sm'} }) }}     
                    </div>        
                </div>
                <div class="box-footer">
                    <input type="reset" class="btn btn-primary"/>
                    <button type="submit"  class="btn btn-primary pull-right">Enregistrer</button>
                </div>{{form_widget(form._token)}} 
            </form>  




        </div>

    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}
