{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/animate.css') }}"/>  
    <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/jquery.bxslider.css') }}"/>  
    <link rel="stylesheet" href="{{ asset('bundles/espritappfront/css/jquery.jscrollpane.css') }}"/>  

    <style type="text/css">
        .accordion.accordion-open {
            background: #f59123;
            color: #fff;
            font-weight: 700;
            letter-spacing: 1px;
        }
        .accordion {
            margin: 0;
            padding: 20px;
            border-bottom: 1px solid #f9f9f9;
            background: #222;
            font-family: Open sans, Helvetica, sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            color: #929292;
            font-size: 13px;
            overflow: hidden;
            letter-spacing: 1px;
        }
        div.acc-content {
            background: #f0f0f0;
            margin: 0;
            padding: 15px 10px;
            font-size: .9em;
            line-height: 1.5em;
            font-family: "Open sans", sans-serif;
        }
        div.acc-content {
            padding: 0;
            margin: 0;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: left;
        }

    </style>

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}





    <section id="shop" class="container secondary-page">
        <div class="general general-results">
            <div class="top-score-title right-score col-md-9">
                <h3>ACHETER TON <span>Ticket</span><span class="point-little">.</span></h3>


                <div class="col-md-12 shops shops-top">

                    {% for tickets  in tickets%}
                        <div class="col-md-4 shop-prod">
                            <!--   <img src="http://placehold.it/160x160" alt="" /> -->
                            <img src="{{ asset('bundles/espritappfront/images/tennisticketnet-no-image.png') }}" alt="">
                            <div class="title-prod">
                                <a href="#" >
                                    Lieu: {{tickets.idMatche.lieux}} </br>
                                    Heure : {{tickets.idMatche.dateDebut|date('d.m.Y')}}  - {{tickets.idMatche.dateFin|date('d.m.Y')}}</br>
                                    <span>{{tickets.categorie}} </span>
                                </a>
                            </div>
                            <div class="prod-buy">

                                 {% if tickets.idUser != app.user %}
                                    {% if tickets.quantite > 0 %}
                                        <a href="{{ path('achatTicket',{'id':tickets.id}) }}" class="prod-cart">
                                            <i class="fa fa-shopping-cart"></i>Reserver
                                        </a>
                                    {% else %}
                                        <a href="#" class="prod-cart">
                                            <i class="fa fa-shopping-cart"></i>Stocke Epuisé
                                        </a>
                                    {% endif %}
                                {%endif%}   
                                
                                {% if tickets.idUser == app.user %}
                                    <a href="#" class="prod-cart">
                                        <i class="fa fa-shopping-cart"></i>Déja Reservé
                                    </a>
                                {%endif%}    


                                <p class="prod-sh-price">${{tickets.prix}}</p>
                            </div>
                        </div> 
                    {% endfor %}
                </div>



            </div><!--Close Top Match-->
            <div class="col-md-3 right-column">
                <div class="top-score-title prod-cat col-md-12">
                    <h3>Products</h3>
                    <div class="products-content">
                        <a href="#" class="news-title-right">Rackets (65)</a>
                    </div>
                    <div class="products-content">
                        <a href="#" class="news-title-right">Bags (29)</a>
                    </div>
                    <div class="products-content">
                        <a href="#" class="news-title-right">Balls (22)</a>
                    </div>
                    <div class="products-content">
                        <a href="#" class="news-title-right">Shoes (14)</a>
                    </div>
                    <div class="products-content">
                        <a href="#" class="news-title-right">Accessories (36)</a>
                    </div>
                </div>
                <div class="top-score-title col-md-12 right-title">
                    <h3>Latest News</h3>
                    <div class="right-content">
                        <p class="news-title-right">A New Old Life</p>
                        <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                        <a href="#" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                    </div>
                    <div class="right-content">
                        <p class="news-title-right">A New Old Life</p>
                        <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                        <a href="#" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                    </div>
                    <div class="right-content">
                        <p class="news-title-right">A New Old Life</p>
                        <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                        <a href="#" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                    </div>
                </div>
                <div class="top-score-title col-md-12">
                    <img src="http://placehold.it/1000x475" alt="" />
                </div>
                <div class="top-score-title col-md-12 right-title">
                    <h3>Photos</h3> 
                    <ul class="right-last-photo">
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
