{% extends 'base_back.html.twig' %}
{% block title %}
    {{ parent() }}|Gestion Utilisateur|Ajout Utilisateur
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/espritappgestion/js/plugins/datatables/dataTables.bootstrap.css') }}">  
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/espritappgestion/css/plugins/datatables/responsive.dataTables.min.css') }}"/>       
{% endblock %}
{% block logo %}
    {{ parent() }}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}
{% block header_content %}
    {{ parent() }}
    <h1>
        
        <small> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Gestion Utilisateur</a></li>
        <li class="active">Arbitres</li>

    </ol>
{% endblock %}

{% block content %}    

    <!-- Main content -->
    <div class="col-md-12"  style="background-color:#ecf0f5;">
        <br>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Modifier Arbitre</h3>                
            </div><!-- /.box-header -->            

     

            {{ form_start(form) }}
            <div class="box-body">
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="callout callout-success">
                        <h4>  {{ flash_message }}</h4>
                    </div>
                {% endfor %}      
             


                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1"> {{ form_label(form.username) }}</label>
                    <div class="text-red">
                        {{ form_errors(form.username) }}
                    </div>
                    {{ form_widget(form.username, { 'attr': {'class':'form-control input-sm'} }) }}     

                </div>


                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1"> {{ form_label(form.email) }}</label>
                    <div class="text-red">
                        {{ form_errors(form.email) }}
                    </div>
                    {{ form_widget(form.email, { 'attr': {'class':'form-control input-sm'} }) }}     

                </div>

              

                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1"> {{ form_label(form.plainPassword.first) }}</label>
                    <div class="text-red">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class':'form-control input-sm'} }) }}     

                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1"> {{ form_label(form.plainPassword.second) }}</label>
                    <div class="text-red">
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class':'form-control input-sm'} }) }}     

                </div>                            


            </div>
            <div class="box-footer">
                <input type="reset" class="btn btn-primary"/>
                <button type="submit" id="loading-btnModal" class="btn btn-primary pull-right">Enregistrer</button>
            </div>
            {{ form_end(form) }}


        </div>
 


    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
 

{% endblock %}
