{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}


    <!-- Load jQuery from Google's CDN if needed -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
    <script src="{{ asset('bundles/espritappfront/js/jquery.min.js') }}" type="text/javascript"></script>   
    <script src="{{ asset('bundles/rcamcharts/js/amcharts/amcharts.js') }}"></script>
    <script src="{{ asset('bundles/rcamcharts/js/amcharts/pie.js') }}"></script>
    <script src="{{ asset('bundles/rcamcharts/js/amcharts/themes/none.js') }}"></script>

    <script type="text/javascript">{{ amchart(chart) }}</script>



    <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>  

    <p><b><center>Statistique  des Matchs par Joueurs Participant</center></b></p>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
