{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}
 

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}

 
    

    <section id="shop" class="container secondary-page">
        <div class="general general-results">
            <div class="top-score-title right-score col-md-9">
                <h3>CHOISIR <span>FORMATION</span><span class="point-little">.</span></h3>
                <div class="col-md-12 shops-rackets shops-top">
                    <p class="shop-cat">Formation Pour Joueurs</p>
                    <p class="shop-desc">Tennis rackets for advanced players who want more power and the ability to generate additional spin. Wilson's Power+Spin rackets feature modern light weights and mid-plus head sizes.</p>

                    {% for forma  in formations %}

                        <div class="col-md-3 shop-prod">

                            <div class="title-prod">                              
                                <span>
                                 Debut : {{forma.dateOuverture|date('d.m.Y')}} </br>
                                Fin : {{forma.dateClouture|date('d.m.Y')}} </br>
                                Nom : {{forma.lieux}} </br>
                                Type : {{forma.type}}
                                 </span></br>
                            </div>
                            <div class="prod-buy">
                                
                      
                                <a href="{{ path('affectFormationToJoueurById',{'id':forma.id}) }}" class="prod-cart">
                                    <i class="fa fa-shopping-cart">                                        
                                    </i>Add
                                </a>
                                   
                                    
                                <p class="prod-sh-price"></p></br>
                            </div></br>
                        </div> 

                    {% endfor %}



                </div>
            </div><!--Close Top Match-->
            <div class="col-md-3 right-column">
                <div class="top-score-title col-md-12 right-title">
                    <h3>Latest News</h3>
                    <div class="right-content">
                        <p class="news-title-right">A New Old Life</p>
                        <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                        <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                    </div>
                    <div class="right-content">
                        <p class="news-title-right">A New Old Life</p>
                        <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                        <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                    </div>
                    <div class="right-content">
                        <p class="news-title-right">A New Old Life</p>
                        <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                        <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                    </div>
                </div>
                <div class="top-score-title col-md-12">
                    <img src="http://placehold.it/1000x475" alt="" />
                </div>
                <div class="top-score-title col-md-12 right-title">
                    <h3>Photos</h3> 
                    <ul class="right-last-photo">
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="jm-item second">
                                <div class="jm-item-wrapper">
                                    <div class="jm-item-image">
                                        <img src="http://placehold.it/320x213" alt="" />
                                        <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>

    
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
