{# default Sliding pagination control implementation #}
<ul class="tab-links-matches">
    {% if pageCount > 1 %}

        {% if first is defined and current != first %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"></a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">{{ pageCount }}</a>
                <li>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li  class="active">{{ page-1 }}    </li>
                    {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"></a>
                <li>
                {% endif %}

                {% if last is defined and current != last %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"></a>
                <li>
                {% endif %}

            {% endif %}

            </ul>