{% extends 'base_front.html.twig' %}
{% block title %} 
    {{ parent() }}
{% endblock %}




{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}






    <div class="top-score-title right-score col-md-9">


        {% for joueur in joueur%}


            <!--    <h3>RODAK <span>JAMAL</span><span class="point-little">.</span></h3>  -->
            <h3>{{joueur.nom|capitalize}} <span>{{joueur.prenom|capitalize}} </span><span class="point-little">.</span></h3> 
            
            <div class="col-md-12 atp-single-player">
                <!--  <img class="img-djoko" src="http://placehold.it/235x224" alt="" />-->
                {%if joueur.image is not null %}  
                    <img src="{{ asset('upload/' ~ joueur.id ~'/' ~ joueur.image)}}" class="img-djoko" alt="" />  
                {% else %}
                    <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}"  class="img-djoko" alt="" />  
                {% endif %}


                <div class="col-md-2 data-player">
                    <p>Grade:</p>
                      <p>Age:</p>
                    <p>Description:</p>
                  
               
                </div>
                <div class="col-md-3 data-player-2">
                    <p>{{joueur.grade}}</p>
                     <p>{{joueur.trancheAge}}</p>
                    <p>{{joueur.description}}</p>
                
                </div>
                <div class="col-md-2 rank-player">
                    <div class="content-rank"><p class="rank-data">1</p></div>
                    <p class="rank-title">Current Ranked</p>
                </div>
            </div>


        {% endfor %}




        <div class="col-md-12 atp-single-player skill-content">
            <div class="exp-skill">
                <p class="exp-title-pp">SKILLS</p>
                <div class="skills-pp">
                    <div class="skillbar-pp clearfix" data-percent="95%">
                        <div class="skillbar-title-pp"><span>Grip   </span></div>
                        <div class="skillbar-bar-pp"></div>
                        <div class="skill-bar-percent-pp">95%</div>
                    </div>
                    <div class="skillbar-pp clearfix" data-percent="84%">
                        <div class="skillbar-title-pp"><span>Serve  </span></div>
                        <div class="skillbar-bar-pp"></div>
                        <div class="skill-bar-percent-pp">84%</div>
                    </div>
                    <div class="skillbar-pp clearfix" data-percent="65%">
                        <div class="skillbar-title-pp"><span>Forehand</span></div>
                        <div class="skillbar-bar-pp"></div>
                        <div class="skill-bar-percent-pp">65%</div>
                    </div>
                    <div class="skillbar-pp clearfix" data-percent="75%">
                        <div class="skillbar-title-pp"><span>Backhand</span></div>
                        <div class="skillbar-bar-pp"></div>
                        <div class="skill-bar-percent-pp">75%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 atp-single-player skill-content">
            <div class="ppl-desc">
                <p class="exp-title-pp">DESCRIPTION</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                    standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                    standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div><!--Close Top Match-->

    <!--Right Column-->
    <!--Right Column-->
    <div class="col-md-3 right-column">
        <div class="top-score-title col-md-12 right-title">
            <h3>Latest News</h3>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
        </div>
        <div class="top-score-title col-md-12">
            <img src="http://placehold.it/1000x475" alt="" />
        </div>
        <div class="top-score-title col-md-12 right-title">
            <h3>Photos</h3> 
            <ul class="right-last-photo">
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>



{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
