{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}



{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}







    <div class="top-score-title right-score col-md-9">
        <h3>Listes <span>Joueurs</span><span class="point-little">.</span></h3>
        <p class="txt-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="txt-right txt-dd-second">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        {% for joueur in joueur%}
            <div class="col-md-3 atp-player">
                <a href="{{ path('joueur_show_detail',{'id':joueur.id}) }}">
                    {%if joueur.image is not null %}  
                        <img src="{{ asset('upload/' ~ joueur.id ~'/' ~ joueur.image)}}" alt="" width="100" height="100" />  
                    {% else %}
                        <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" width="100" height="100"/>  
                    {% endif %}
                    <p> {{joueur.nom}}&nbsp;{{joueur.prenom}}</p></a>


            </div>
        {% endfor %}
        {#
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
             <!--        <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" /> -->
                <p>Rafael Bovi</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
             <!--        <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" /> -->
                <p>Roger Kirt</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
             <!--        <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" /> -->
                <p>Stan Wark</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
             <!--        <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" /> -->
                <p>David Glove</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
             <!--        <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" /> -->
                <p>Milos Rotin</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
                <p>Gregor Goe </p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
                <p>Tomas Berin</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
                <p>Andy Morra</p></a>
        </div>
        <div class="col-md-3 atp-player">
            <a href="single_player.html">     <img src="{{ asset('bundles/espritappfront/images/player/face.jpg') }}" alt="" />
                <p>Jo-Wilf T. </p></a>
        </div>#}

      
    </div><!--Close Top Match-->
    <div class="col-md-3 right-column">
        <div class="top-score-title col-md-12 right-title">
            <h3>Latest News</h3>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
            <div class="right-content">
                <p class="news-title-right">A New Old Life</p>
                <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
            </div>
        </div>
        <div class="top-score-title col-md-12">
            <img src="http://placehold.it/1000x475" alt="" />
        </div>
        <div class="top-score-title col-md-12 right-title">
            <h3>Photos</h3> 
            <ul class="right-last-photo">
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="jm-item second">
                        <div class="jm-item-wrapper">
                            <div class="jm-item-image">
                                <img src="http://placehold.it/320x213" alt="" />
                                <div class="jm-item-description">
                                    <div class="jm-item-button">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </li>

          

            </ul>
        </div>
    </div>



{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
