{% extends 'base_front.html.twig' %}
{% block title %}  {{ parent() }}{% endblock %}




{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

{% block logo %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block header_content %}
    {{ parent() }}
{% endblock %}
{% block content %}



            

    <section id="allmatch" class="container secondary-page">
        <div class="general general-results">
            <div class="top-score-title right-score col-md-9">
                <h3>COMPLETED <span>MATCHES</span><span class="point-little">.</span></h3>
                <div class="main">
                    <p class="news-title-right">Tournament Day</p>
                       
                    <div class="tabs animated-slide-2 matches-tbs">
                      
                       
                            
                             {{ knp_pagination_render(pagination) }}
                          <!-- 
                            <li class="active">
                                <a href="#tab1111">1</a>
                          </li>
                            <li>
                                <a href="#tab2222">2</a>
                            </li>
                            <li>
                                <a href="#tab3333">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">6</a>
                            </li> -->
                            
                  
         
                        <div class="tab-content">
                            <div id="tab1111" class="tab active">


                                {% for matche  in pagination  %}
                                    <table class="match-tbs">
                                        <tr><td class="match-tbs-title" colspan="7">{{matche.lieux}} - {{matche.type}} </td></tr>
                                        <tr class="match-sets">

                                            <td class="fpt">Date Debut</td>
                                            <td class="fpt">{{matche.dateDebut|date('d.m.Y')}}</td>

                                        </tr>
                                        <tr class="match-sets">

                                            <td class="fpt">Date Fin</td>
                                            <td class="fpt">{{matche.dateFin|date('d.m.Y')}}</td>

                                        </tr>
                                        <tr>
                                            <td class="fpt">Evennement<i class="fa fa-check"></i></td>
                                            <td class="fpt">
                                                  {% if matche.idEvent  is not null %}
                                                          {{matche.idEvent.nom}} 
                                                  {% endif %}
                                            </td>


                                            </tr>
                                            <tr>
                                                <td class="fpt fpt2">Competition</td>
                                                <td class="fpt fpt2">
                                                   {% if matche.idCompetition  is not null %}
                                                          {{matche.idCompetition.nom}} 
                                                  {% endif %}
                                                </td>

                                            <tr>
                                                <td class="match-more" colspan="7">
                                                    <a href="match.html" class="ca-more">
                                                        <i class="fa fa-angle-double-right"></i>
                                                        more
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                        {% endfor %}



                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div><!--Close Top Match-->
                        <div class="col-md-3 right-column">
                            <div class="top-score-title col-md-12 match-right right-title">
                                <h3>Latest News</h3>
                                <div class="right-content">
                                    <p class="news-title-right">A New Old Life</p>
                                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                                </div>
                                <div class="right-content">
                                    <p class="news-title-right">A New Old Life</p>
                                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                                </div>
                                <div class="right-content">
                                    <p class="news-title-right">A New Old Life</p>
                                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                                </div>
                            </div>
                            <div class="top-score-title col-md-12 match-right">
                                <img src="http://placehold.it/1000x475" alt="" />
                            </div>
                            <div class="top-score-title col-md-12 right-title">
                                <h3>Photos</h3> 
                                <ul class="right-last-photo">
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="jm-item second">
                                            <div class="jm-item-wrapper">
                                                <div class="jm-item-image">
                                                    <img src="http://placehold.it/320x213" alt="" />
                                                    <div class="jm-item-description">
                                                        <div class="jm-item-button">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </section>

                {% endblock %}
                    {% block footer %}
                        {{ parent() }}
                    {% endblock %}
